@charset "UTF-8";

/* 共通部分 */
html {
    font-family: 'Noto Sans JP', 'Noto Serif', sans-serif;
    width: 100%;
}

h1, h2 {
    font-weight: normal;
}

body {
    background-image: linear-gradient(
    -60deg,
    #c7c7c7 25%,
    #a1abb7 25%, #a1abb7 50%,
    #c7c7c7 50%, #c7c7c7 75%,
    #a1abb7 75%, #a1abb7
  );
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    background-size: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

.wrap {
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

.fadein {
    opacity: 0.1;
    transform: translate(0, 50px);
    transition: all 500ms;
}
.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}


/* header */
header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    padding: 20px;
}

.nav-box {
}
.nav-box li {
    margin-right: 25px;
    
}
.nav-box a {
    font-size: 20px;
    font-weight: bold;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../img/top-bg.jpg) no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    text-align: center;
}
.catch {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.catch h1 {
    font-size: 70px;
    line-height: 100px;
}
.catch p {
    font-size: 1.5rem;
    margin-top: 30px;
}

li {
    position: relative;
}

li:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 100%;
    transform: translateY(-50%) scaleX(0);
    background: #000;
    transform-origin: top right;
    transition: transform .3s ease-in-out;
}

li:hover:before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: top left;
}

/* about */
#about  {
    position: relative;
    margin: 300px 0;
}
#about img {
    width: 80%;
    
}
#about a {
    position: absolute;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    width: 500px;
    height: 310px;
    padding: 50px 100px 80px 50px;
    top: 30%;
    left: 54%;
}
.box h1 {
    font-size: 50px;
    margin-bottom: 15px;
}
#about a:hover {
    transition: 0.5s;
    color: #fff;
    background-color: rgb(11, 11, 104);
}


/* service */
#service {
    position: relative;
    margin: 300px 0;
}
#service a {
    position: absolute;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    width: 500px;
    height: 310px;
    padding: 50px 100px 80px 50px;
    right: 60%;
    top: 18%;
    z-index: 2;
}
#service img {
    width: 80%;
}
#service .image {
    text-align: end;
}
#service a:hover {
    transition: 0.5s;
    color: #fff;
    background-color: rgb(11, 11, 104);
}


/* recruit */
#recruit  {
    position: relative;
    margin: 300px 0;
}
#recruit img {
    width: 80%;
    
}
#recruit a {
    position: absolute;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    width: 500px;
    height: 310px;
    padding: 50px 100px 80px 50px;
    top: 30%;
    left: 54%;
}
.box h1 {
    font-size: 50px;
    margin-bottom: 15px;
}
#recruit a:hover {
    transition: 0.5s;
    color: #fff;
    background-color: rgb(11, 11, 104);
}


/* contact */
.contact-item {
    width: 50%;
    height: 390px;
    color: #fff;
}
.contact-item.is-tel {
    background: url(../img/contact.jpg) no-repeat;
    background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,130,0.6);
    background-blend-mode: darken;
    padding: 0 60px;
}
.inner-item {
    padding: 110px 0;
}
.is-tel h2 {
    font-size: 26px;
    margin-bottom: 20px;
}
.is-tel p {
    line-height: 1.3rem;
}
.contact-item.is-form {
    background-color: rgb(0, 0, 119);
    text-align: center;
}
.is-form h2 {
    font-size: 40px;
    font-weight: normal;
    padding: 120px 0 100px;
}
.is-form a {
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 1rem 2rem;

}
.is-form a:hover {
    transition: 0.5s;
    color: rgb(0, 0, 119);
    background-color: #fff;
}


/* footer */
.mail {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
.company a {
    margin: 2px;
    padding: 3px;
}
.fa-envelope {
    margin: 5px;
}
.sp-b {
    justify-content: space-between;
    margin: 20px 60px;
}
.site-map {
    margin-right: 60px;
}

footer > p {
    background-color: #fff;
    text-align: center;
    color: #777777;
    font-size: 10px;
    padding: 40px 0;
}